/* couleurs redPels : Red CD4436 | white DCDDD8 | anthracite 424242 */

body {
	background-color: #DCDDD8;
    color: #424242;
    font-family: sans-serif;
}

button {
    float: right;
}

h1 {
    text-align: center;
}

li {
    list-style: none;
}

textarea {
    margin-top: 10px;
    height: 35px;
    width: 80%;
}

.todo-list {
    margin-top: 30px;
    background-color: #424242;
    color: #DCDDD8;
}

.task {
    background-color: #CD4436;
    color: #DCDDD8;
}

.task_input {
    width: 80%;
}

.padded {
    padding: 5px 5px 5px 5px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-flow: row wrap;
    justify-content: space-between;

    height: 100%;

    margin: auto;
}

.flex-item {
    flex: 1 1 100%;

    min-height: 50px;
    margin-bottom: 10px;
}

@media all and (min-width: 550px) {
    h1 {
        text-align: left;
    }
    .flex-item {
        max-width: 48%;
    }
}

@media all and (min-width: 850px) {
    .flex-item {
        max-width: 30%;
    }
}

.spinner {
  width: 40px;
  height: 40px;
  background-color: #CD4436;

  margin: 100px auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
  0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
  } 50% { 
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
  } 100% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
